{% include "header.html" %}

<div class="index-content">
    <div class="options-index">
        {% if not filename %}
            <form action="/" method="post" enctype="multipart/form-data" class="upload-form">
                <label class='upload-label' for="file">Upload your image</label>
                <input type="file" id="file" name="file" accept="image/*">
                <br>
                <input type="submit" value="send">
            </form>
        {% else %}
            <form action="/image" method="post" enctype="multipart/form-data" class="upload-form">
                <label class='choose-color' for="count">How many colors you want to see?</label>
                <input type="number" name="count" min="1" max="9">
                <br>
                <input type="submit" value="send">
            </form>
        {% endif %}
    </div>
    <div class="image-index">
        <img src={{ filename or '../static/default.jpg'}}>
    </div>
</div>

{% include "footer.html" %}
