{% include "header.html" %}


<div class="index-content">
    <div class="image-index"></div>
    <div class="color-image">
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
        <div class="color-rgb"></div>
    </div>
</div>



{% include "footer.html" %}
