{% include "header.html" %}

<script>
    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    window.onload = function() {
        var divs = document.querySelectorAll('.color-rgb');

        divs.forEach(function(div) {
            var backgroundColor = getComputedStyle(div).backgroundColor;
            var rgbValues = backgroundColor.match(/\d+/g);
            var convertedColor = rgbToHex(parseInt(rgbValues[0]), parseInt(rgbValues[1]), parseInt(rgbValues[2]));

            var p = document.createElement('p');
            p.textContent = convertedColor;
            div.appendChild(p);
        });
    };
</script>

<div class="show-img-content">
    <div class="show-img-index">
        <img src={{ filename }}>
    </div>
    <div class="color-image">
        {% for rgb_tuple in list %}
            <div class="color-rgb" style="background-color: rgb({{ rgb_tuple[0] }}, {{ rgb_tuple[1] }}, {{ rgb_tuple[2] }});"></div>
        {% endfor %}
    </div>
</div>

{% include "footer.html" %}
